body{
  background-color: lightblue;
}

h1 {
  text-align: center;
}

#title{
  font-size:30px;
}

#description{
  font-size:15px;
  text-align:center;
}

#name{
  width:100px;
   text-align:left;
}

#email{
   width:100px;
  text-align:left;
}

#number{
   width:100px;
  text-align:left;
}

#dropdown{
   width:100px;  
}

#comment{
  width:400px;
  padding:10px;
  border-radius:10px;
  border:name;
}

#submit{
   width:100px;
  padding:10px;
  border-radius:100px;
  border:name;
  margin-top:2%;
  color:white;
  background-color:green;
  
}

 